<div class="container">
  <h1>ALL INVOICES</h1>

  <% @invoices.each do |invoice| %>
    <div>
      <span>Invoice ID <%= invoice.id %> | <%= invoice.customer.name %> | <%= invoice.date %></span>
      <span><%= link_to "Edit Invoice", invoice_path(invoice) %></span>
    </div>
  <% end %>

  <p><%= link_to "New Invoice", new_invoice_path %> | <%= link_to "Products", products_path %></p>
</div>
