<div class="z-container">
  <h1>ALL INVOICES</h1>
  <p><%= link_to "New Invoice", new_invoice_path %></p>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Customer Name</th>
      <th>Issue Date</th>
      <th>Payment Due Date</th>
      <th class="column-center">Items</th>
      <th class="column-center">Amount</th>
      <th></th>
    </tr>
    <% if @invoices.count.zero? %>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td class="column-center">-</td>
        <td class="column-center">-</td>
        <td></td>
      </tr>
    <% else %>
      <% @invoices.each do |invoice| %>
        <tr>
          <td><%= invoice.id %></td>
          <td><%= invoice.customer.name %></td>
          <td><%= invoice.date %></td>
          <td><%= (invoice.date.to_date + 30).strftime("%d-%m-%Y") %></td>
          <td class="column-center"><%= invoice.items.count %></td>
          <td class="column-center">
            <% net = 0.00 %>
            <% invoice.items.each do |item| %>
              <% product = Product.find(item.product_id) %>
              <% net += item.quantity * product.gross %>
            <% end %>
            <%= number_to_currency(net, unit: "£") %>
          </td>
          <td>
            <%= link_to(invoice_path(invoice)) do %>
              <i class="far fa-folder-open"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
