<div class="z-container">
  <h1>ALL INVOICES</h1>

  <% @invoices.each do |invoice| %>
    <div>
      <span>Invoice ID <%= invoice.id %> | <%= invoice.customer.name %> | <%= invoice.date %></span>
      <span><%= link_to "Edit Invoice", invoice_path(invoice) %></span>
    </div>
  <% end %>

  <br><br>

  <table>
    <th>
      <td>Invoice ID</td>
      <td>Customer Name</td>
      <td>Invoice Date</td>
      <td>Invoice Page</td>
    </th>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.id %></td>
        <td><%= invoice.customer.name %></td>
        <td><%= invoice.date %></td>
        <td><%= link_to "Open", invoice_path(invoice) %></td>
      </tr>
    <% end %>

  </table>

  <p><%= link_to "New Invoice", new_invoice_path %></p>
</div>
