<div class="z-container">
  <h1>ALL INVOICES</h1>

  <table>
    <tr>
      <th>Invoice ID</th>
      <th>Customer Name</th>
      <th>Invoice Date</th>
      <th>Invoice Page</th>
    </tr>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.id %></td>
        <td><%= invoice.customer.name %></td>
        <td><%= invoice.date %></td>
        <td><%= link_to "Open", invoice_path(invoice) %></td>
      </tr>
    <% end %>

  </table>

  <p><%= link_to "New Invoice", new_invoice_path %></p>
</div>
