<div class="z-container">
  <h1>NEW INVOICE</h1>
  <p><%= link_to "Back To Invoices", invoices_path %></p>

  <p>Create invoice:</p>
  <%= simple_form_for(@invoice) do |element| %>
    <%= element.input :customer_id, placeholder: "Customer ID", collection: ["Acme Inc", "ABC Ltd", "AllViews Ltd", "Barton Smith Ltd"], label: false %>
    <%= element.input :date, placeholder: "DD-MM-YYYY", label: false %>
    <%= element.submit 'Save', class: 'btn btn-secondary' %>
  <% end %>

  <br>

  <p>List of customers:</p>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
    </tr>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= customer.name %></td>
        <td><%= customer.address %></td>
        <td><%= customer.email %></td>
      </tr>
    <% end %>
  </table>

</div>
