<div class="z-container">
  <h1>NEW INVOICE</h1>
  <p><%= link_to "Back To Invoices", invoices_path %></p>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= customer.name %></td>
      </tr>
    <% end %>
  </table>

  <br>

  <%= simple_form_for(@invoice) do |element| %>
    <%= element.input :customer_id, placeholder: "Customer ID", input_html: { min: 1, step: 1 }, label: false %>
    <%= element.input :date, placeholder: "DD-MM-YYYY", label: false %>
    <%= element.submit 'Save', class: 'btn btn-primary' %>
  <% end %>
</div>
