<div class="container">
  <h1>INVOICE</h1>

  <h3>Invoice ID: <%= @invoice.id %></h3>
  <h3>Invoice Date: <%= @invoice.date %></h3>
  <h3><%= @invoice.customer.name %></h3>
  <h3><%= @invoice.customer.address %></h3>
  <h3><%= @invoice.customer.email %></h3>


  <% @invoice.items.each do |item| %>
    <% product = Product.find(item.product_id) %>
    <div>
      <span><%= product.description %> | <%= number_to_currency(product.gross, unit: "£") %> | <%= item.quantity %> | <%= number_to_currency(product.gross * item.quantity, unit: "£") %></span>
      <span><%= link_to "Delete Item", invoice_item_path(@invoice.id, item.id), method: :delete %></span>
    </div>
  <%
   end %>

  <br>

  <p>Net <%= number_to_currency(@net, unit: "£") %></p>
  <p>VAT <%= number_to_currency(@net * 0.2, unit: "£") %></p>
  <p>Total <%= number_to_currency(@net * 1.2, unit: "£") %></p>

  <br>

  <p><%= link_to "Add Item", new_invoice_item_path(params[:id]) %> | <%= link_to "All Invoices", invoices_path %></p>

  <br>


</div>


