<div class="z-container">
  <h1>INVOICE</h1>
  <p><%= link_to "Edit Invoice", new_invoice_item_path(params[:id]) %> | <%= link_to "All Invoices", invoices_path %></p>

  <%= render "./shared/invoice" %>

  <table class="table table-striped">
    <tr>
      <th>Description</th>
      <th class="column-center">Price</th>
      <th class="column-center">Quantity</th>
      <th class="column-center">Total</th>
    </tr>

    <% if @invoice.items.count.zero? %>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
    <% else %>
      <% @invoice.items.each do |item| %>
        <% product = Product.find(item.product_id) %>
        <tr>
          <td><%= product.description %></td>
          <td class="column-center"><%= number_to_currency(product.gross, unit: "£") %></td>
          <td class="column-center"><%= item.quantity %></td>
          <td class="column-center"><%= number_to_currency(product.gross * item.quantity, unit: "£") %></td>
        </tr>
      <% end %>
    <% end %>
  </table>

  <br>

</div>
