<div class="invoice-addresses">
  <div class="invoice-address">
    <p>Invoice from:</p>
    <p>Zigaflow</p>
    <p>28 Leman Street, London, E1 8ER</p>
    <p>ceo@zigaflow.com</p>
  </div>
  <div class="invoice-client-address">
    <p>Invoice to:</p>
    <p><%= @invoice.customer.name %></p>
    <p><%= @invoice.customer.address %></p>
    <p><%= @invoice.customer.email %></p>
  </div>
  <div class="invoice-figures">
    <p>SUMMARY</p>
    <p>NET: <%= number_to_currency(@net, unit: "£") %></p>
    <p>VAT: <%= number_to_currency(@net * 0.2, unit: "£") %></p>
    <p>GROSS: <%= number_to_currency(@net * 1.2, unit: "£") %></p>
  </div>
</div>
<br>

<div class="invoice-invoice-details">
  <p>Invoice #: <%= @invoice.id %></p>
  <p>Issue date: <%= @invoice.date %></p>
  <p>Payment due date: <%= @due_date %></p>
</div>

<br>
