<div class="container">
  <h1>Add Item</h1>

  <h3>Invoice ID: <%= @invoice.id %></h3>
  <h3>Invoice Date: <%= @invoice.date %></h3>
  <h3>Customer: <%= @invoice.customer.name %></h3>

  <% @products.each do |product| %>
    <p>Product ID <%= product.id %> | <%= product.code %> | <%= product.description %> | <%= number_to_currency(product.gross, unit: "£") %></p>
  <% end %>

  <%= simple_form_for([@invoice, @item]) do |element| %>
    <%= element.input :product_id, placeholder: "Product ID", input_html: { min: 1, step: 1 } %>
    <%= element.input :quantity, placeholder: "Quantity" %>
    <%= element.submit 'Add', class: 'btn btn-success' %>
  <% end %>

  <%= link_to "Back To Invoice", invoice_path(@invoice) %>

</div>
