<div class="container">
  <h1>Add/Edit item</h1>

  <h3>Invoice ID: <%= @invoice.id %></h3>
  <h3>Invoice Date: <%= @invoice.date %></h3>
  <h3>Customer: <%= @invoice.customer.name %></h3>

  <% @products.each do |product| %>
    <p>Product ID <%= product.id %> | <%= product.code %> | <%= product.description %> | £<%= product.gross %></p>
  <% end %>

  <%= simple_form_for([@invoice, @item]) do |element| %>
    <%= element.input :product_id, placeholder: "Product ID" %>
    <%= element.input :quantity, placeholder: "Quantity" %>
    <%= element.submit 'Save', class: 'btn btn-success' %>
  <% end %>

</div>
