<div class="z-container">
  <h1>INVOICE</h1>
  <p><%= link_to "Close Invoice", invoice_path(@invoice) %></p>

  <%= render "./shared/invoice" %>

  <table class="table table-striped">
    <tr>
      <th>Code</th>
      <th>Description</th>
      <th class="column-center">Price</th>
      <th class="column-center">Quantity</th>
      <th class="column-center">Total</th>
      <th></th>
    </tr>

    <% if @invoice.items.count.zero? %>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
    <% else %>
      <% @invoice.items.each do |item| %>
        <% product = Product.find(item.product_id) %>
        <tr>
          <td><%= product.code %></td>
          <td><%= product.description %></td>
          <td class="column-center"><%= number_to_currency(product.gross, unit: "£") %></td>
          <td class="column-center"><%= item.quantity %></td>
          <td class="column-center"><%= number_to_currency(product.gross * item.quantity, unit: "£") %></td>
          <td>
            <%= link_to(invoice_item_path(@invoice.id, item.id), method: :delete) do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>

  <br>

  <p>Products:</p>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Code</th>
      <th>Description</th>
      <th class="column-center">Price</th>
    </tr>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.code %></td>
        <td><%= product.description %></td>
        <td class="column-center"><%= number_to_currency(product.gross, unit: "£") %></td>
      </tr>
    <% end %>
  </table>

  <br>

  <p>Add product to invoice:</p>
  <%= simple_form_for([@invoice, @item]) do |element| %>
    <%= element.input :product_id, placeholder: "Product ID", input_html: { min: 1, step: 1 }, label: false %>
    <%= element.input :quantity, placeholder: "Quantity", label: false %>
    <%= element.submit 'Add', class: 'btn btn-secondary' %>
  <% end %>

</div>
