<div class="z-container">
  <h1>Products</h1>

  <table>
    <tr>
      <th>Product ID</th>
      <th>Code</th>
      <th>Description</th>
      <th>Price</th>
      <th></th>
    </tr>
    <% @products.sort.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.code %></td>
        <td><%= product.description %></td>
        <td><%= number_to_currency(product.gross, unit: "£") %></td>
        <td><%= link_to "Edit Price", edit_product_path(product.id) %></td>
      </tr>
    <% end %>
  </table>

</div>
